footer p {
    font: var(--font-sm);
    color: var(--text-color-secondary);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;
    padding: 20px;
}

div.footer-right {
    display: flex;
    gap: 15px;
}